

.input-form {
    margin-top: 60px;
}

.status-message {
    font-size: 24px;
    margin-top: 100px;
}

#top-status {

}

input[type=text] {
    height: 30px;
}

input[type=password] {
    height: 30px;
}

#login-container-div {
    display: none;
    visibility: hidden;		 			
}

#age-verification-container-div {
    display: none;
    visibility: hidden;		 			
}

#lottery-container-div {
    display: none;
    visibility: hidden;		 			
}

.progress-div {
    display: none;
    visibility: hidden;		 			
}
